* {
	box-sizing: border-box;
}

body, html {
	background-color: aqua;
	color: white;
	white-space: nowrap;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#showMenu {
	color: red;
	width: 20px;
	text-align: center;
	display: inline-block;
	background: yellow;
	cursor: pointer;
}

.menu, .menu-border {
	background-color: aqua;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	margin: 0;
}

.menu-border {
	width: 20px;
	padding: 0;
}

.content {
	display: inline-block;
	background-color: red;
	vertical-align: top;
	margin: 0;
	position: relative;
}

.message {
	display: none;
}

.message.active {
	display: block;
	color: black;
	width: 100%;
	height: auto;
	background-color: white;
	text-align: center;
	padding: 0.5em;
}

.message > img {
	vertical-align: middle;
	margin: 0 1em;
}

.drop-event {
	display: none;
}

.drop-event.active {
	border-radius: 0.5em;
	display:block;
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background-color: lime;
	opacity: 0.3;
}
