body, html {
	background-color: aqua;
	color: white;
	white-space: nowrap;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#showMenu {
	color: red;
	width: 20px;
	text-align: center;
	display: inline-block;
	background: yellow;
	cursor: pointer;
}

.menu, .menu-border {
	background-color: white;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	margin: 0;
}

.menu-border {
	width: 20px;
	padding: 0;
}

.content {
	display: inline-block;
	background-color: red;
	vertical-align: top;
	margin: 0;
}

.drop-event {
	display: none;
}

.drop-event.active {
	border-radius: 0.5em;
	display:block;
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background-color: lime;
	opacity: 0.3;
}
